body
{
  background-color:black;
}
h1
{
  color:white;
  text-align:Center;
  font-type:Itallian;
}
h2
{
  color:white;
  text-align:Center;
}
h3
{
  color:red;
  text-align:Center;
}
h4
{
  color:White;
  text-align:Left;
}
p
{
  color:white;
  text-align:Left;
}
 
  
