body
{
  background-color:black;
}
h1
{
  color:white;
  text-align:center;
  font-type:itallian;
}
h2
{
  color:white;
  text-align:center;
}
h3
{
  color:red;
  text-align:center;
}
h4
{
  color:white;
  text-align:Left;
}
p
{
  color:white;
  text-align:Left;
}
ul
{
  color:white;
   text-align:Left;
  }
 li
{
  color:white;
   text-align:Left;
}
a
{
  color: green; 
  text-decoration: none; 
}

a:visited {
  color: pink; 
  text-decoration: none; 
}


a:hover
{
  color: red; 
  text-decoration: underline; 
}


a:active
{
  color: yellow;
  text-decoration: none; 
}

  
  
